#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/opt/google/chrome-unstable/google-chrome-unstable --user-data-dir=/home/rho/.config/google-chrome-unstable --app=http://gmail.com
Icon=/home/rho/.local/share/applications/gmail.png
StartupWMClass=Gmail



