[Desktop Entry]
Name=Show Desktop on ElementaryOS
GenericName=Show Desktop on ElementaryOS
Comment=Minimize or maximize all windows
Categories=Utility
Exec=show-desktop-freya
StartupNotify=false
Icon=show-desktop
Terminal=false
Type=Application
NoDisplay=true
X-Ubuntu-Gettext-Domain=FIXME
